.index-bg { font-family: Arial, sans-serif; 
	font-size: 12px; 
	color: #222;
	width: 1800px;
	height: 100%;
        background-color:#E1E1E1; 
	text-align: center;
	overflow: hidden;
	background-image: url(http://i.imgur.com/H7vIflZ.png); 
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover; }
